/* ====================================================
    Responsive
==================================================== */
/* Desktop 1200 - up */
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
    .ltn__slide-item-2 {
        max-height: 500px;
    }

    /* custom */
    .mobile_logo {
        display: none;
    }
    .site-logo-wrap img {
        width: 60px;
    }

}

/* Normal desktop :992px. (Laptop 14") */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Global */
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 16px;
    }
    /* custom */
    .mobile_logo {
        display: none;
    }
    .site-logo-wrap img {
        width: 60px;
    }
}

/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    /* Global */
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 15px;
    }
    p {
        font-size: 14px;
    }
    /* custom */
    .mobile_logo {
        display: none;
    }
    .site-logo-wrap img {
        width: 60px;
    }
    .ltn__slide-item {
        height: 250px;
    }
}

/* small mobile :320px. */
@media (max-width: 767px) {
    /* Global */
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 17px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }

    /* Custom */
    .site-logo-wrap {
        display: none;
    }
    .ltn__slide-item {
        height: 300px;
    }

    /* .ltn__slide-item-2 {
        padding-top: 0px;
    } */
    #about-section {
        padding: 20px 0 0px 0;
    }
    /* .ltn__slide-item-2 .slide-title {
        font-size: 25px;
        padding-top: 40px;
    } */
}

@media (max-width: 479px) {
    .ltn__utilize.ltn__utilize-mobile-menu {
        padding: 10px 10px;
    }
}
